* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /* border: 5px solid red; */
    margin: 20px 3px;
    font-size: larger;
}

.timer-text, .timer-font {
    float: right;
}

main { 
    display: flex;
    text-align: center;
    width: 100%;
    font-size: 30px;
}

.starting-text {
    font-size: 25px;
    margin: 45px;
    padding: 0 35%;
}

.start-button {
    font-size: 19px;
    background-color: rgb(129, 29, 129);
    color: white;
    padding: 3px;
    border-radius: 8px;
    width: 100px;
    margin: 0 auto;
}

.start-button:hover {
    color: rgb(182, 180, 180);
}

.question {
    display: none;
}

.answers {
    /* max-width: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
}

.button {
    /* display: flex; */
    width: 225px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;

    /* justify-content: center; */
    align-content: center;
    background-color: rgb(129, 29, 129);
    color: white;
    
}